@media only screen and (min-device-width : 280px) and (max-device-width : 480px) 
{
    .admin-product-info{
        width:90vw !important;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 600px) 
{
    .admin-product-info{
        width:80vw !important;
    }
}
@media only screen and (min-device-width : 601px) and (max-device-width : 950px) 
{
    .admin-product-info{
        width:70vw !important;
    }
}